<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}UniSync{% endblock %}</title>
     <link rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}">
    {% block styles %}{% endblock %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
   
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <!-- ================= NAVBAR ================= -->

<header>
    <nav class="navbar">
        <div class="logo">
            <h2><a href="{{ url_for('home') }}" class="logo">UniSync</a></h2>
        </div>

        <ul class="nav-links">
            <li><a href="{{ url_for('home') }}" class="active">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('faq') }}">FAQ</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="{{ url_for('admin_login') }}" class="login-btn">DSW Portal</a></li>
        </ul>
    </nav>
</header>

    {% block content %}
    {% endblock %}

    <!-- ================= FOOTER ================= -->

<footer>

    <h3>UniSync</h3>

    <p>
        Anonymous Student Feedback & Complaint Management System
    </p>

    <div class="footer-links">
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('faq') }}">FAQ</a>
        <a href="{{ url_for('contact') }}">Contact</a>
    </div>

    <p>&copy; 2026 UniSync. All Rights Reserved.</p>

</footer>

</body>
</html>